.o
.a
_i.c
_p.c
_i.h
.ilk
.meta
.obj
.pch
.pdb
.pgc
.pgd
.rsp
.sbr
.tlb
.tli
.tlh
.tmp
.tmp_proj
.bak
.log
.vspscc
.vssscc
.builds
.pidb
.svclog
.scc
.nib

# for projects that use SCons for building httphttpwww.scons.org
.sconf_temp
.sconsign.dblite
.pyc

# User-specific files
.suo
.user
.sln.docstates
.sln
.vcxproj

# Build results
[Dd]ebug
[Dd]ebugPublic
[Rr]elease
x64
build
bld
[Bb]in
[Oo]bj
.debug
.dSYM

# Visual Studio 2017 and Visual Studio Code workspace folder
.vs
.vscode

# Visual C++ cache files
ipch
.aps
.ncb
.opensdf
.sdf
.cachefile
.VC.db
.VC.opendb
.VC.VC.opendb
enc_temp_folder

# Others
sql
.Cache
ClientBin
[Ss]tyle[Cc]op.
~$
~
.dbmdl
.dbproj.schemaview
.pfx
.publishsettings
node_modules
__pycache__
